@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Dr. Sillystringz's Factory</h1>
<hr/>
<h3>Add a new machine</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br>
  <button type="submit" value="Create" class="btn btn-primary">Create</button>
}

<p>@Html.ActionLink("Back to all machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>